@charset "UTF-8";
/* CSS Document */


*{
    margin: 0px;
    padding: 0px;
}

/*Estilos contenedor de toda la página */

#contenedor-pagina{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
   background-size: cover;
    background-position: center fixed;
    justify-content: space-around;
    align-items: center;
    align-content: center;
	background-color: orange;
}

/* Estilos header y footer */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1rem;
    margin-bottom: 0.5rem;
    background-color: orangered;
    color: black;
}

h1{
    text-align: center;
    margin: 2.5rem;
	color: #FFF;
}



h4{
    text-align: center;
}

/* Contenedor de cards (swiper) */

.container{
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* botones carousel */

#boton-next{
    border-radius: 5rem;
    padding: 2rem;
    background-color: #fff;
    color: darkorange;
    text-shadow: 0px 0px 10px whitesmoke;
}

#boton-prev{
    border-radius: 5rem;
    padding: 2rem;
    background-color: #fff;
    color: darkorange;
    text-shadow: 0px 0px 10px whitesmoke;
}

/* Estilo cards */



#fotitos{
    max-height: 18rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#contenido-tarjeta{
    padding: 1rem;
}

#boton-adoptar{
    background-color: orangered;
    padding: 0.5rem;
  color:#fff;
}


/* estilo cards reveal */

.card .card-reveal{
    padding: 0px;
}

ul{
    margin: 1rem 2rem;
    text-align: start;
    font-size: 1rem;
    word-spacing: 0.5rem;
}

#cont-nombre-reveal{
    position: relative;
}


/* estilo boton card */

.info-container{
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: rgba(165, 165, 165, 0.495);
    padding: 0.6rem;
    
}

/* Medias Querys */


@media screen and (max-width:774px) and (min-width:680px){
    h1{
        font-size: 3rem;
		color: FFF;
    }

    .info-container{
        padding-top: 1rem;      
    }

    .card{
        max-width: 33vw;
        max-height: 95%;
		
    }

    #nombre-card{
        font-size: 1rem;
    }

    #contenido-tarjeta{
        padding: 0rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;
    }

    #span-nombre-card{
        height: 1.5rem;
    }
    
}


@media screen and (max-width:680px) and (min-width:574px) {

    h1{
        font-size: 3rem;
		color: #FFF;
    }

    .info-container{
        padding-top: 1rem;      
    }

    .card{
        max-width: 65vw;
        max-height: 95%;
		
    }

    #nombre-card{
        font-size: 1rem;
    }

    #contenido-tarjeta{
        padding: 0rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;
    }

    #span-nombre-card{
        height: 1.5rem;
    }

}

@media screen and (max-width:574px){
    h1{
        font-size: 2rem;
		color: #FFF;
    }

    .info-container{
        padding-top: 1rem; 
}

    .card{
        max-width: 70vw;
        max-height: 95%;
		
    }

    #nombre-card{
        font-size: 1rem;
    }

    #contenido-tarjeta{
        padding: 0rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;
	}

    #span-nombre-card{
        height: 1.5rem;
    }

    #boton-next{
        border-radius: 5rem;
        padding: 1.5rem;
       
        text-shadow: 0px 0px 10px whitesmoke;
        swiper-navigation-size: 30px;
    }
    
    #boton-prev{
        border-radius: 5rem;
        padding: 1.5rem;
        
       swiper-navigation-size: 30px;
    }

    h4{
        font-size: 1rem;
    }
}